* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #007db8;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #007db8;
  color: white;
  font-weight: bold;
}

.topnav a.active:hover {
  background-color: #00577f;
  color: white;
}

.accessibility-containers {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;


  align-items: center;
}

.accessibility-containers button {
  width: 36px;
  color: white;
  background-color: #00577F;
  border-color: #007db8;
  border: 1;
  margin-top: 12px;
  margin-right: 12px;

  text-align: center;
}
