<div class="topnav">
  <a class=" active" (click)="backHome($event)">LEAD me to a Movie</a>
</div>

<!-- Accessibility tools -->
<div class="accessibility-tools">
  <h5>Acessibilidade:   </h5>
  <button type="button" (click)="increase()">
    A+
  </button>
  <button type="button" (click)="reset()">
    AR
  </button>
  <button type="button" (click)="decrease()">
    A-
  </button>
</div>

<!-- Search -->
<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Procure por Filmes:</span>
  </div>
  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" #box
    (keyup.enter)="queryListener(box.value)">
</div>



<!-- Movie cards -->
<div class=" row">
  <div *ngFor="let movie of movies" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center">
          {{ movie.title }}
        </h4>
        <hr />
        <img *ngIf="movie.poster_path" [src]="getImage(movie.poster_path)" class="posterPath"
          alt="'Poster do filme ' + {{movie.title}}" />
        <img *ngIf="!movie.poster_path" class="posterPath" src="https://placehold.it/500x740" />
        <div class="movies-info">
          <p [style.fontSize.px]="fontSize">Data de Lançamento: {{ movie.release_date }}</p>
          <span><img src="https://www.kindpng.com/picc/b/29/298871.png"
              alt="logo-star" />{{ movie.vote_average }}</span>
        </div>
        <p [style.fontSize.px]="fontSize" *ngIf="movie.overview" class="card-text" style="text-align: center">
          {{ movie.overview }}</p>
        <p [style.fontSize.px]="fontSize" *ngIf="!movie.overview" class="card-text"
          style="text-align: center; font-weight: 900;">Sem detalhes
          pra
          exibir!</p>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="pagination">
  <button *ngIf="currentPage == 1 && totalResults != 0" class="btn btn-primary" (click)="pageDown()" disabled>
    ← Página anterior
  </button>
  <button *ngIf="currentPage >= 2 && totalResults != 0" class="btn btn-primary" (click)="pageDown()">
    ← Página anterior
  </button>
  <h2 *ngIf="totalResults == 0">Ops...! Esse filme não existe!<br></h2>
  <input *ngIf="currentPage <= totalPages && totalResults != 0 " type="text" [value]="currentPage" readonly />
  <button *ngIf="currentPage <= totalPages && totalResults != 0" class="btn btn-primary" (click)="pageUp()">
    Próxima página →
  </button>
</div>
