h4 {
  text-align: center;
  color: #007DB8;
}

h4:hover {
  color: #00577F;
  transition: 0.4s;
}

/* Search */
.input-group-text {
  font-weight: 630;
}

/* Fim search */

.row {
  width: 99%;
  margin-left: 10px;
}

.card {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 30px;
  height: 97%;
}

.posterPath {
  width: 325px;
  height: 400px;
}



.movies-info {
  font-weight: 600;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 12px;
  align-items: center;

}

.movies-info img {
  width: 20px;
  margin-right: 5px;
  margin-top: -4px;
}

.movies-info span {
  justify-content: center;
  font-size: 26px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px
}

.pagination input {
  width: 40px;
  background-color: rgb(237, 237, 237);
  text-align: center;
}
