.row {
  width: 99%;
  margin-left: 10px;
}

.card {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.posterPath {
  width: 325px;
  height: 400px;
  margin-left: 77px;
}

.cardTitle {
  text-align: center;
}

.movies-info {
  font-weight: 600;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 12px;
  align-items: center;

}

.movies-info img {
  width: 20px;
  margin-right: 5px;
  margin-top: -1px;
}

.movies-info span {
  justify-content: center;
  font-size: 26px;
}
